################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.NET
/.vs
/CNAS
/CNAS.zip
/Comenzi
/desktop.ini
/Discord.lnk
/Docker Desktop.lnk
/GIF
/git commands.txt
/git-bash - Comandă rapidă.lnk
/git-commands.txt
/LegalGround.txt
/Lucrare de laborator nr 4 la TSoft.docx
/Lucrare Individuala TPP.docx
/Ordering_System_Cafe
/Postman.lnk
/ProiectWEB.zip
/PS
/script.txt
/Slack.lnk
/Space Shooter (2D)
/SQL Server Management Studio Management Studio 19.lnk
/Telegram.lnk
/template
/Testare Pozitiva Buza Catalin TI-214.pptx
/UTM An 3 Semestru 6
/UTM An 3 Semstru 5
/Visual Studio 2022.lnk
/Visual Studio Code.lnk
/Wallpaper Engine.url
/Work
/Yu-Gi-Oh!  Master Duel.url
/YuGiOh - Comandă rapidă.lnk
